{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="col-md-8 offset-md-2">
		<article class="card">
			<div class="card-header">
				<h1 class="card-title text-light">Sign Out</h1>
				<p class="text-light">We hope to see you again soon!</p>
			</div>
			<div class="card-body">
				<p class="mb-4 text-center">Are you sure you want to sign out of your account?</p>

				<form method="post" class="login-form">
					{% csrf_token %}
					<button type="submit" class="btn btn-primary w-100">Yes, Sign Me Out</button>
				</form>

				<div class="login-footer">
					<p class="login-footer-text">
						<a href="{% url 'posts:home' %}" class="login-link">Cancel and Return Home</a>
					</p>
				</div>
			</div>
		</article>
	</div>
</div>
{% endblock %}
