{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-12">
        <article class="card">
            <div class="card-header">
                <h1 class="card-title text-light">Share a Cream Tea Venue</h1>
                <p class="text-light">Help us build the best cream tea community. Share a venue you love!</p>
            </div>
            <div class="card-body">
                <h2>{% if edit_mode %}Edit Post{% else %}Add Post{% endif %}</h2>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}

                        <button type="submit" class="btn btn-primary">
                            {% if edit_mode %}Update Post{% else %}Upload Post{% endif %}
                        </button>
                    </form>
            </div>
        </article>
    </div>
</div>
{% endblock %}
